<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 
		配置bean
		class: bean 的全类名，通过反射的方式在IOC容器中创造Bean，所以要求Bean中必须有无参数的构造器
		id:  
	-->
	<bean id="helloWorld" class = "jason.spring.beans.HelloWorld">
		<property name="name" value="testValue"></property>
	</bean>
	<bean id="car" class="jason.spring.beans.Car">
		<constructor-arg value="brandTest" index="0"></constructor-arg>
		<constructor-arg value="corpTest" index="1"></constructor-arg>
		<constructor-arg value="100" index="2"></constructor-arg>
	</bean>
		
	<bean id="car2" class="jason.spring.beans.Car">
		<constructor-arg value="brandTest2" type="java.lang.String"></constructor-arg>
		<!-- a如果字面值包含特殊字符可以使用<![CDATA[]]>包裹起来 -->
		<!-- a属性值也可以使用value直接点进行配置 -->
		<constructor-arg type="java.lang.String">
			<value><![CDATA[<Shanghai>]]></value>
		</constructor-arg>
		<constructor-arg type="double">
			<value>1000</value>
		</constructor-arg>
	</bean>

	<bean id="person" class="jason.spring.beans.Person">
		<property name="name" value="ntest"></property>
		<property name="age" value="24"></property>
		<!-- a可以使用property的ref属性建立bean之间的引用关系 -->
		<!-- 
		<property name ="car" ref="car2"></property> 
		-->
		<!-- 
		<property name="car">
			<ref bean="car2"></ref>
		</property>
		-->
		<!-- 内部bean,不能被外部引用，只能在内部使用 -->
		<property name="car">
			<bean class="jason.spring.beans.Car">
				<constructor-arg value="v"></constructor-arg>
				<constructor-arg value="v"></constructor-arg>
				<constructor-arg value="v" type="double"></constructor-arg>
			</bean>
		</property>
	</bean>
</beans>
